<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AITBot</title>
</head>
<body>
    <h1>AITBot</h1>
    
    <form method="post" action="/">
        <label for="search_query">English text:</label>
        <input type="text" id="search_query" name="search_query"  placeholder="Enter your question..." value="{{ search_query }}" required>
        <button type="submit">Translate</button>
    </form>

    <h3>Answer

        <p>{{ answer }}</p>

    </h3>

    <h3>Source Document</h3>
    <ul>
        {% for doc in source %}
            <li>{{ doc }}</li>
        {% endfor %}
    </ul>
</body>
</html>